NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_URL=http://localhost:3000
NEXT_PUBLIC_WEB_DESIGNS_URL=http://localhost:3002
NEXT_PUBLIC_TECHNOLOGY_URL=http://localhost:3003
NEXT_PUBLIC_AUTH_URL=http://localhost:3004
